body{
  overflow: hidden;
}
#profile-pic{
  width: 501px;
  height: 694px;
}

.nav-item{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;  
}

.nav-link{
  color:black;
}

.title{
  text-align: right;
  font-family: 'Poppins', sans-serif;
  padding-top: 125px;

}

.lg-title{
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
}

.sm-title{
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  padding-bottom: 25px;
}

.title-description{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}
.nav-bar{
  padding-bottom: 1%;
}