:root{
  --ft-heading: 3.6rem;
  --ft-subheading:2.25rem;
  --ft-links: 1.375rem;
  --ft-text:1.25rem;
  --margin-desc: 0 0 0 auto;
  --desc-size: 600px;
  --title-pad-right: 1%;
  --title-pad-left: 5%;
  --links-margin:40px;
  --links-padding-left: 85px;

  --pp-size: 600px;
  --pp-margin: 0 auto 0 0;
  --pp-align: left;
  --w-logo-size: 19px;
  --alignment: right;
  --menu-bar:none;
  --logo-margin: 0;
  --margin-correct: 30px;
  --navbar-pad: 120px;

  --work-image-size: 250px;
  --work-image-padding: 54px;
  --work-margin-bottom: 25px;
  --work-title-margin: 225px 0 75px;
  --card-text-margin: 0;
  --card-title-size: 1.5rem;
  --card-row-margin: 0 130px;
  --left-work-margin: 0 130px 0 auto;
  --right-work-margin: 0 auto 0 130px;

  --contact-card-width: 550px;
  --contact-margin: 225px auto 75px;
}

@media (max-width: 1382px){
  :root{
    --ft-heading: 2.5rem;
    --ft-subheading:1.75rem;
    --ft-links: 1rem;
    --ft-text: .875rem;
    --margin-desc: 0 0 0 auto;
    --desc-size: 450px;
    --title-pad-right: 1%;
    --title-pad-left: 6%;
    --links-margin: 25px;
    --links-padding-left: 55px;

    --pp-size: 400px;
    --pp-margin: 0 auto 0 0;
    --pp-align: left;
    --w-logo-size: 15px;  
    --alignment: right;
    --menu-bar:none;
    --logo-margin: 0;
    --margin-correct: 23px;
    --navbar-pad: 100px;

    --work-image-size: 200px;
    --work-image-padding: 40px;
    --work-margin-bottom: 25px;
    --work-title-margin: 175px 0 50px;
    --card-text-margin: 0;
    --card-title-size: 1rem;
    --card-row-margin: 0 30px;
    --left-work-margin: 0 80px 0 auto;
    --right-work-margin: 0 auto 0 80px;

    --contact-card-width: 450px;
    --contact-margin: 175px auto 50px;
  }
}

@media (max-width: 992px){
  :root{
    --ft-heading: 2rem;
    --ft-subheading: 1.375rem;
    --ft-links: .75rem;
    --ft-text: .625rem;
    --margin-desc: 0 0 0 auto;
    --desc-size: 350px;
    --title-pad-right: 1%;
    --title-pad-left: 6%;
    --links-margin: 17px;
    --links-padding-left: 25px;

    --pp-size: 300px;
    --pp-margin: 0 auto 0 0;
    --pp-align: left;
    --w-logo-size: 10px;
    --alignment: right;
    --menu-bar:none;
    --logo-margin: 0;
    --margin-correct: 15px;
    --navbar-pad: 50px;

    --work-image-size: 160px;
    --work-image-padding: 35px;
    --work-margin-bottom: 25px;
    --work-title-margin: 125px 0 40px;
    --card-text-margin: 0;
    --card-title-size: .75rem;
    --card-row-margin: 0 5px;
    --left-work-margin: 0 50px 0 auto;
    --right-work-margin: 0 auto 0 50px;

    --contact-card-width: 400px;
    --contact-margin: 125px auto 40px;
  }
}

@media (max-width: 767px){
  :root{
    --ft-heading: 2rem;
    --ft-subheading: 1.375rem;
    --ft-links: .75rem;
    --ft-text: .625rem;
    --margin-desc: 0 auto;
    --desc-size: 350px;
    --title-pad-right: 17%;
    --title-pad-left: 17%;
    --links-margin: 0;
    --links-padding-left: 0px;

    --pp-size: 300px;
    --pp-margin: 20px 0 0 0;
    --pp-align: center;
    --w-logo-size: 10px;
    --alignment: center;
    --menu-bar:center;
    --menu-bar-logos: flex;
    --logo-margin: 5px;
    --margin-correct: 0;
    --navbar-pad: 15px;

    --work-image-size: 150px;
    --work-image-padding: 30px;
    --work-margin-bottom: 20px;
    --work-title-margin: 100px 0 25px;
    --card-text-margin: 0 50px;
    --card-title-size: .75rem;
    --card-row-margin: 0 75px;
    --left-work-margin: 0;
    --right-work-margin: 0;

    --contact-card-width: 400px;
    --contact-margin: 100px auto 25px;
  }
}

body {
  overflow-x: hidden;
  background-color: #F0ECE3;
}

#profile-pic {
  width: var(--pp-size);
}

.fade-in{
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.delay{
  transition-delay: 750ms;
}

.fade-in.appear{
  opacity: 1;
}

.fade-right{
  transform: translateX(50%);
  transition: transform 750ms ease-in
}
.fade-right.appear{
  transform: translateX(0);
}

.fade-left{
  transform: translateX(-50%);
  transition: transform 750ms ease-in
}
.fade-left.appear{
  transform: translateX(0);
}

#logo{
  pointer-events: none;
}

.nav-bar{
  padding-bottom: var(--navbar-pad);
}
.nav-item {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: var(--ft-links);
}

.work-link{
  margin-left: var(--links-padding-left);
}

.section-links{
  margin: 0 var(--links-margin);
}

.website-logos{
  width: var(--w-logo-size);
}

.website-logos:hover path{
  fill:grey
}

.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav{
  padding: 0;
}

.github{
  display: var(--menu-bar-logos);
  justify-content:center;
  margin-bottom: var(--logo-margin);
  margin-right: var(--margin-correct);
}

.linkedin{
  display: var(--menu-bar-logos);
  justify-content: center;
  margin-bottom: var(--logo-margin);
  padding-bottom: 2px;
  margin-right: var(--margin-correct);
}

.nav-link {
  color: black;
  text-align: var(--menu-bar);
}
.navbar-toggler{
  border: none;
  filter: grayscale(0%);
}

.navbar-toggler:focus{
  box-shadow: none;
}

.toggler-styles{
  width: 12px;
  border: none;
}

.title {
  text-align: var(--alignment);
  font-family: "Poppins", sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: var(--title-pad-right);
  padding-left: var(--title-pad-left);
  margin-left: auto;
  padding-top: 15px;
}

.lg-title {
  font-style: normal;
  font-weight: 500;
  font-size: var(--ft-heading);
  line-height: 90%;
}

.sm-title {
  font-style: normal;
  font-weight: 500;
  font-size: var(--ft-subheading)
}

.profile-picture{
  text-align: var(--pp-align);
  margin: var(--pp-margin);
  padding-left: var(--title-pad-right);
  padding-right: var(--title-pad-left);
}

.typing-change{
  color: #ADC2DB;
}

.title-description {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: var(--ft-text);
  max-width: var(--desc-size);
  margin: var(--margin-desc);
}

#work-anchor{
  margin: var(--work-title-margin);
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: var(--ft-subheading)
}

.card-row{
  margin: var(--card-row-margin);
}

.card{
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: var(--ft-text);
  margin-bottom: var(--work-margin-bottom);
}

.card-img{
  width: var(--work-image-size);
  background-color: #ADC2DB;
  margin: 0 auto;
  padding: var(--work-image-padding);
  border-radius: 50px;
}

.card-title{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: var(--card-title-size);
}

.card-text{
  padding: var(--card-text-margin);
}

.left-work{
  margin: var(--left-work-margin);
}

.right-work{
  margin: var(--right-work-margin);
}

#center-card{
  background-color: #E1DE9E;
}

.work-project-links{
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.work-project-links:hover{
  color: gray;
}

#resume-anchor{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: var(--ft-subheading);
  margin: var(--work-title-margin);
}

.resume-page{
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: var(--ft-text);
}

.resume-download{
  border-radius: 15px;
  border: none;
  padding: 10px;
  background-color: #ADC2DB;
}

.resume-download:hover{
  background-color: gray;
}

#contact-anchor{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: var(--ft-subheading);
}

.contact-form{
  margin: var(--contact-margin);
  padding: 75px 100px;
  border-radius: 100px;
  text-align: center;
  width: var(--contact-card-width);
  background-color: #E1DE9E;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: var(--ft-text);
}

.inputBox{
  width: 100%;
}

.input-container{
  margin-bottom: 20px;
}

.send-button{
  width: 30%;
  border-radius: 15px;
  border: none;
  padding: 5px
}

.send-button:hover{
  background-color: grey;
}